<div class = 'one-message'>
    <div class="description">
        {{text}}
    </div>
    <div class = "author">
        {{author}}
    </div>
    <span class='type' hidden>
        {{type}}
    </span>
</div>