<div class = 'one-message'>
    <div class="description">
        {{text}}
    </div>
    <div class = "author">
        {{author}}
    </div>
    <div class="type"  hidden>
        {{type}}
    </div>
</div>