<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">         
        <link rel="stylesheet" href="styles.css" media="screen">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="/messageTemplate.js"></script>
        <script src="script.js" defer></script>
        <title>  LAW.GINGS </title>
    </head>
    <body>
        <div class="nav">
          <div class="navbar"> </div>
          <div class="navbar"><a href="/home">Home</a></div>
          <div class="navbar"><a href="/home">About Us</a></div>
          <div class="navbar"><a href="/register">Contact Us</a></div>
          <div class="navbar"><a href="/lawyerchat">Private Messaging</a></div>
          <div class="navbar"><a href="/lawyerchat">Community Chat</a></div>
          <div class="navbar"><a href="/profile">Login/Profile</a></div>
        </div> 
        {{{body}}}
        
        {{!-- <div class='footer'>
            Housing Resources
            <div class= 'authors'>
                Created by:<br>
                Prajakta Dharme <br> Jennifer Chen <br> Chitali Buge <br> Arshia Giri
            </div>
        </div> --}}
    </body>
</html>