<h1 class = "profile-login">
  Zoom Rooms
</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title > Zoom links </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="../public/styles.css" rel="stylesheet"/>
</head>

<body class="bodymain">
  <a class="zoom" href="https://us02web.zoom.us/j/83837507368?pwd=VTA0a0pBN2RoSHZoTTEvYzZtditXQT09">
    <button id = "zoom-button"> Zoom Link 1
    </button>
  </a>

  <a class="zoom" href="https://us02web.zoom.us/j/86291618106?pwd=NVA2eko0N2FhWDh5NkxHM0plcUpKZz09">
    <button id = "zoom-button"> Zoom Link 2
    </button>
  </a>

  <a class="zoom" href="https://us02web.zoom.us/j/86291618106?pwd=NVA2eko0N2FhWDh5NkxHM0plcUpKZz09">
    <button id = "zoom-button"> Zoom Link 3
    </button>
  </a>

  <a class="zoom" href="https://us02web.zoom.us/j/83837507368?pwd=VTA0a0pBN2RoSHZoTTEvYzZtditXQT09">
    <button id = "zoom-button"> Zoom Link 4
    </button>
  </a>

  <a class="zoom" href="https://us02web.zoom.us/j/86291618106?pwd=NVA2eko0N2FhWDh5NkxHM0plcUpKZz09">
    <button id = "zoom-button"> Zoom Link 5
    </button>
  </a>

  <a class="zoom" href="https://us02web.zoom.us/j/86291618106?pwd=NVA2eko0N2FhWDh5NkxHM0plcUpKZz09">
    <button id = "zoom-button"> Zoom Link 6
    </button>
  </a>

</body>

</html>
