<h1>
  Zoom Rooms
</h1>

<body class="bodymain">
  <a class="zoom" href="https://us02web.zoom.us/j/83837507368?pwd=VTA0a0pBN2RoSHZoTTEvYzZtditXQT09">
    <button> Zoom Link 1
    </button>
  </a>

  <a class="zoom" href="https://us02web.zoom.us/j/86291618106?pwd=NVA2eko0N2FhWDh5NkxHM0plcUpKZz09">
    <button> Zoom Link 2
    </button>
  </a>

  <a class="zoom" href="https://us02web.zoom.us/j/86291618106?pwd=NVA2eko0N2FhWDh5NkxHM0plcUpKZz09">
    <button> Zoom Link 2
    </button>
  </a>

</body>