{{!-- <h1> Lawyers </h1> --}}
{{!--  <div class='content'> --}}
{{!--     {{#each LData}} --}}
{{!-- {{> lawyer}} --}}
{{!-- {{/each}} --}}
{{!--  </div> --}}
<h1> Lawyers </h1>
  <div class='content'>
</div>
