<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lawyer Chat Room</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../public/styles.css" rel="stylesheet" />
</head>

<body class="bodymain" id="lawyer-chat-body">
  <h1 id="lily-smith">You are now speaking to: <b>Lily Smith</b></h1>
    <div>
      <ul id="history">

        <li><b>Lily: </b>Hi Jennifer. How can I help you today?</li>
        <li>Jennifer: Hello Lily! I am seeking legal advice following recent events regarding my housing situation.</li>
      </ul>
    </div>
    <ol>
      <form id="lawyer-form">
        <input id="message" class="message" placeholder="Message">
        <button id="send"> Send</button>
      </form>
    </ol>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="lawyerchat.js"></script>
</body>
</html>
